extends layout

block layout-content
  div.View
    h1.Banner State Quarters Collector
    div.Message
      div.Title
        h3 an app to crowdsource the assembly and completion of
        h1 Quarters collections
        h5 for my nieces and nephews
      span.Details Access the Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Sign In!